[colspan="text"]{
	color: gray;
}
[colspan="wiki"]{
	text-align: center;
	color: white;
}
p{
	color: white;
}

[colspan="123"]{
	color: gray;
}

[class="first_panel"]{
color: white;
}
.div_1{
	border-radius: 25px;
	border: 10px;
	border-color: black;
	background-color: gray;
	padding: 5px;
	font-size: 95%;
	padding-left: 20px;
	padding-right: 20px;
}
.txt_2{
padding-left: 100px
}
